* {
    /* ========================== */
    /* COLORS */
    /* ========================== */
    --color-primary: #ed215b;
    --color-secondary: black;
    --color-tertiary: white;
    --color-quadrinay: gray;

    /* ========================== */
    /* BACKGROUND */
    --background-primary: rgb(62, 62, 62);
    --background-secondary: var(--color-primary);
    /* ========================== */

    /* ========================== */
    /* TIPOGRAFIA */
    /* ========================== */
    --font-primary: 1rem/1.5 "Inter", sans-serif;
    --font-secondary: 1rem/2 "Oxanium", sans-serif;
}

body {
    font: var(--font-primary);
    text-align: center;
    margin: 0;
    padding: 0;

    @media (prefers-color-scheme: dark) {
        color: var(--color-tertiary);
        background-color: var(--color-secondary);
    }

    @media (prefers-color-scheme: light) {
        color: var(--color-secondary);
        background-color: var(--color-tertiary);
    }
}

header {
    margin: 1rem;
    align-items: center;

    @media (max-width: 767px) {
        display: inline-block;
    }

    @media (min-width: 768px) {
        display: flex;
        justify-content: space-around;
    }
}

footer {
    margin: 1rem;
}